.ingredient{
    width: 330px;
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr;
    align-items: center;
    justify-content: space-between;
    grid-gap: 10px;

    font-size: 13px;
    text-align: left;
    margin-bottom: 5px;

    &_divider{
        width: 100%;
        border: none;
        border-top: 0.5px dashed grey;
    }
}

@media (max-width: 620px){
    .ingredient{
        width: 100%;

        &_name{
            justify-self:end;
        }

        &_divider{
            justify-self:center;     
        }
    }
}

@media (max-width: 381px){
    .ingredient{
        grid-template-columns: 1fr 0.5fr 1.5fr;
    }
}