.recipe{

    display: flex;
    flex-direction: column;
    gap: 20px;

    &_wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &_ingredients{
        h4, h5{
            margin-bottom: 10px;
        }
    }


    &_img{
        height: 250px;
        width: 35%;

        img{
            width:100%;
            height:100%;
            object-fit: contain;
        }
    }
    &_pair{
        display: flex;
        gap: 5px;

        .pair{
            padding: 4px;
            border-radius: 3px;
            background-color: rgb(41, 41, 41);
            font-size: 12px;
        }
    }
}


@media (max-width: 620px){
    .recipe{
        &_wrapper{
            flex-direction:column-reverse;
        }

        &_img{
            width: 100%;
        }
        &_ingredients{
            width: 100%;
        }

        &_pair{
            flex-wrap: wrap;
        }
    }

}