.recipe{

    display: flex;
    flex-direction: column;
    gap: 20px;
    
    &_pair{
        display: flex;
        gap: 5px;

        .pair{
            padding: 4px;
            border-radius: 3px;
            background-color: rgb(41, 41, 41);
            font-size: 12px;
        }
    }
}