.recipe{

    display: flex;
    flex-direction: column;
    gap: 20px;

    &_wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &_img{
        height: 250px;
        width: 35%;

        img{
            width:100%;
            height:100%;
            object-fit: contain;
        }
    }
    &_pair{
        display: flex;
        gap: 5px;

        .pair{
            padding: 4px;
            border-radius: 3px;
            background-color: rgb(41, 41, 41);
            font-size: 12px;
        }
    }
}